*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#0f172a;
    color:white;
}

nav{
    display:flex;
    justify-content:space-between;
    padding:20px 10%;
    background:#111827;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:25px;
}

nav a{
    color:white;
    text-decoration:none;
}

.hero{
    height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero h1{
    font-size:3rem;
}

.hero h3{
    color:#38bdf8;
    margin:10px 0;
}

.btn{
    display:inline-block;
    margin-top:20px;
    padding:12px 25px;
    background:#38bdf8;
    color:white;
    text-decoration:none;
    border-radius:6px;
}

section{
    padding:80px 10%;
}

h2{
    text-align:center;
    margin-bottom:30px;
}

.skills-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
    gap:20px;
}

.skill-card{
    background:#1e293b;
    padding:20px;
    text-align:center;
    border-radius:10px;
}

.project-card{
    background:#1e293b;
    padding:20px;
    margin-bottom:20px;
    border-radius:10px;
}

.edu-card{
    background:#1e293b;
    padding:20px;
    border-radius:10px;
}

footer{
    text-align:center;
    padding:20px;
    background:#111827;
}
